<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827550457264-gd3nv63vlmleuuvpb9ps6tptm0r83ied.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827550457264-gd3nv63vlmleuuvpb9ps6tptm0r83ied</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>827550457264-c3slct5t5e0e8ake67e0ehgdl53hbrum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcpyG97aBulk5afTm6SFvlLiR1o-bZq-0</string>
	<key>GCM_SENDER_ID</key>
	<string>827550457264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodLink</string>
	<key>PROJECT_ID</key>
	<string>bloodlink-71833</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodlink-71833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827550457264:ios:f5db26d0b5898c9ffb8a75</string>
</dict>
</plist>