<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827550457264-dpquird40kkvoumf79sje291uidl6dje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827550457264-dpquird40kkvoumf79sje291uidl6dje</string>
	<key>API_KEY</key>
	<string>AIzaSyAcpyG97aBulk5afTm6SFvlLiR1o-bZq-0</string>
	<key>GCM_SENDER_ID</key>
	<string>827550457264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodLink.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bloodlink-71833</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodlink-71833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827550457264:ios:72e37198ce265220fb8a75</string>
</dict>
</plist>